@font-face {
  font-family: "iconfont"; /* Project id 4552543 */
  src: url('iconfont.woff2?t=1716021612301') format('woff2'),
       url('iconfont.woff?t=1716021612301') format('woff'),
       url('iconfont.ttf?t=1716021612301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jijiagong:before {
  content: "\e86a";
}

.icon-jiagong:before {
  content: "\e601";
}

.icon-xiugai:before {
  content: "\e610";
}

.icon-yanfa-researchanddevelopment:before {
  content: "\e62c";
}

.icon-yanfa:before {
  content: "\e7aa";
}

